<!-- #Carrousel component -->
<link rel="stylesheet" type="text/css" href="/components/carrousel/carrousel.css" />

<div class="carrousel-wrapper">
  <h1>Carrousel</h1>
  <img src="/components/carrousel/img/carrousel-banner1.png">
</div>

{{#append "footer"}}
  <script src="/components/carrousel/carrousel.js"></script>
{{/append}}
<!-- /Carrousel component -->
